.global-theme {
          --colors-black: #000000;
  --colors-white: #ffffff;
  --colors-blue: #1e90ff;
  --colors-yellow: #ffff69;
  --colors-green: #B2B278;
  --theme-text: #ffffff;
  --theme-bg: #000000;
  --theme-bg-accent: #ffff69;
      }