
:where(html) {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue: #1e90ff;
  --color-yellow: #ffff69;
  --color-green: #B2B278;
  --color-gray200: #eeeeee;
  --color-gray300: #cccccc;
  --color-gray400: #cdcdcd;
  --color-puke: #B2B278;
  --theme-text: #000000;
  --theme-bg: #ffffff;
  --theme-accent: #1e90ff;
}