
:where(html) {
  --colors-black: #000000;
  --colors-white: #ffffff;
  --colors-blue: #1e90ff;
  --colors-yellow: #ffff69;
  --colors-green: #B2B278;
  --colors-gray: #eeeeee;
  --colors-gray-dark: #cccccc;
  --theme-text: #000000;
  --theme-bg: #ffffff;
  --theme-accent: #1e90ff;
}